SeparateDefinitionBlocks: Always

IndentWidth: 4

AlignConsecutiveMacros: Consecutive
SpacesBeforeTrailingComments: 2
AlignTrailingComments: true 

IndentCaseLabels: true

AllowShortFunctionsOnASingleLine: None 
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AccessModifierOffset: -3

EmptyLineBeforeAccessModifier: Always

MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks : Always

AlignArrayOfStructures: Left

AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false 
AllowAllParametersOfDeclarationOnNextLine: false

SeparateDefinitionBlocks: Always

RequiresClausePosition: OwnLine
AlwaysBreakTemplateDeclarations: Yes

SpaceBeforeCaseColon: false
ColumnLimit: 80
